*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


$color_primary: #F1CDB3;
$color_light_s: #FAFAFA;
$color_light_xl: #FFFFFF;
$color-dark-3xl: #292929;
$color-dark-s: #CDCDCD;
$color_background: #E5E5E5;

%h3_h3{
    //styleName: h3;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
}

%paragraph1{
    //styleName: paragraph-l;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
%Ag{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}
%button_secondary{
    height: 52px;
    width: 187px;
    border: 2px solid $color_primary;
    border-radius: 100px;
    display: flex;
    align-items: flex-start;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.content{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .start_screen{
        height: 908px;
        border: 1px solid black;
        background-image: url(../images/start-screen-background.jpg);
        
      
        

        .header{
            height: 60px;
            width: 94%;
            margin-left: auto;
            margin-right: auto;
            top: 60px;
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

                .logo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    

                    .logo_title{
                        width: 200px;
                        height: 35px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-size: 32px;
                        line-height: 35px;
                        line-height: 110%;
                        letter-spacing: 2px;
                        color: $color_primary;
                    }
                    .logo_subTitle{
                        margin-left: 2%;
                        height: 15px;
                        font-family: Arial;
                        font-size: 13px;
                        line-height: 100%;
                        vertical-align: center;
                        letter-spacing: 1.3px;
                        color:  $color_light_xl;
                    
                    }
                }
                .header_navigation{
                    position: inherit;
                    align-self: center;
                
                    .header_navigation_list{
                        list-style-type: none;
                        margin-bottom: 2.8px;
                        display: flex;
                        justify-content: space-between;
                        width: 443px;
                        height: 27px;
                        line-height: 160%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 24px;
                        color: $color_light_s;

                        .header_navigator_list_cell:hover{
                            cursor: pointer;
                            border-bottom: solid 3px;
                            border-bottom-color: $color_primary;

                        }
                        .border_bottom_active{
                            cursor: pointer;
                            border-bottom: solid 3px;
                            border-bottom-color: $color_primary;
                        }
            }
                }
        }
        .start_screen_content{
            height: 728px;
            margin-top: 60px;
            width: 94%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;

            .start_screen_content_content{
                
                margin-top: 163px;
                color: $color_light_xl;

                .start_screen_content_heading{
                    //styleName: h2;
                    font-family: Georgia;
                    font-size: 44px;
                    font-weight: 400;
                    line-height: 57px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                .start_screen_content_subheading{
                    margin-top: 42px;
                    width: 460px;
                    color: $color-dark-s;
                    font-family: Arial, Helvetica, sans-serif;
                    font-style: Regular;
                    font-size:15px;
                    vertical-align: center;
                    line-height: 24px;


                    
                }

                .start_screen_cntent_button_primery{ // здесь надо поработать нат коректным отоброжением текста внутри кнопки или переделеать на инпут
                    width: 207px;
                    background-color: $color_primary;
                    border: 0;
                    border-radius: 40px;
                    margin-top: 42px;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: 1px;
                    color: $color-dark-3xl;
                    padding: 15px 45px 15px 45px;

                }
            }

            .start_screen_image_puppy{
                .image_puppy{
                    height: 728px;
                    
                    
                }
                
            }

        }
    }

    .about{
        height: 588px;

        .about_container{
            width: 94%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
                .about_content_img{
                    margin-top: 80px;
                    margin-right: 10%;
                }
                .about_pets_content{
                    margin-top: 94px;
                    height: 380px;
                    width: 430px;
                        .about_pets_content_heading{
                            @extend %h3_h3;
                        }
                        .about_pets_content_Subheading{
                            margin-top: 25px;
                            @extend %paragraph1;
                        }

                }
            }
    } //конец блока about и начало слайдера

    .Pets{
        background-color: $color_background;
        border: 1px solid black;
        height: 877px;
        width: 100%;
        .pets_container{
            width: 94%;
            margin-right: auto;
            margin-left: auto;
        
            .pets_container_pets_content{
                height: 697px;
                margin-top: 80px;
                display: flex;
                flex-direction: column;

                .pets_content_heading{
                    @extend %h3_h3;
                    text-align: center;
                }
                .slider{
                    display: flex;
                    margin-top: 60px;
                    .button_arrow{
                        height: 52px;
                        width: 52px;
                        border: 2px solid $color_primary;
                        border-radius: 50%;
                    }
                    .pets_slier_card{
                        height: 435px;
                        background-color: $color-dark-s;
                        display:flex;
                        flex-direction: column;
                        .slider_pets{
                            @extend %Ag;
                            
                            margin-top: 30px;
                        }
                        .button_secondary{
                            @extend %button_secondary;
                        }
                    }
                }
            }
        }
    }
}