* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.content .start_screen {
  height: 908px;
  border: 1px solid black;
  background-image: url(../images/start-screen-background.jpg);
}

.content .start_screen .header {
  height: 60px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.content .start_screen .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .start_screen .header .logo .logo_title {
  width: 200px;
  height: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 35px;
  line-height: 110%;
  letter-spacing: 2px;
  color: #F1CDB3;
}

.content .start_screen .header .logo .logo_subTitle {
  margin-left: 2%;
  height: 15px;
  font-family: Arial;
  font-size: 13px;
  line-height: 100%;
  vertical-align: center;
  letter-spacing: 1.3px;
  color: #FFFFFF;
}

.content .start_screen .header .header_navigation {
  position: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content .start_screen .header .header_navigation .header_navigation_list {
  list-style-type: none;
  margin-bottom: 2.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 443px;
  height: 27px;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FAFAFA;
}

.content .start_screen .header .header_navigation .header_navigation_list .header_navigator_list_cell:hover {
  cursor: pointer;
  border-bottom: solid 3px;
  border-bottom-color: #F1CDB3;
}

.content .start_screen .header .header_navigation .header_navigation_list .border_bottom_active {
  cursor: pointer;
  border-bottom: solid 3px;
  border-bottom-color: #F1CDB3;
}

.content .start_screen .start_screen_content {
  height: 728px;
  margin-top: 60px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .start_screen .start_screen_content .start_screen_content_content {
  margin-top: 163px;
  color: #FFFFFF;
}

.content .start_screen .start_screen_content .start_screen_content_content .start_screen_content_heading {
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}

.content .start_screen .start_screen_content .start_screen_content_content .start_screen_content_subheading {
  margin-top: 42px;
  width: 460px;
  color: #CDCDCD;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Regular;
  font-size: 15px;
  vertical-align: center;
  line-height: 24px;
}

.content .start_screen .start_screen_content .start_screen_content_content .start_screen_cntent_button_primery {
  width: 207px;
  background-color: #F1CDB3;
  border: 0;
  border-radius: 40px;
  margin-top: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #292929;
  padding: 15px 45px 15px 45px;
}

.content .start_screen .start_screen_content .start_screen_image_puppy .image_puppy {
  height: 728px;
}

.content .about {
  height: 588px;
  border: 1px solid green;
}
/*# sourceMappingURL=style.css.map */