* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content .about .about_container .about_pets_content .about_pets_content_heading, .content .Pets .pets_container .pets_container_pets_content .pets_content_heading, .content .Help .help_content .help_content_heading, .content .Donation .donation_content .donation_content_container .donation_donation_dog_content .dog_content_heading, .content .shelter_footer .footer_content .footer_content_contacts .footer_contact_title, .content .shelter_footer .footer_content .footer_content_contacts .footer_location_title, .content .shelter_footer .footer_content .footer_content_location .footer_location_title {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}

.content .Help .help_content .help_content_list .list_content_wraper_icons .figcaption_pets, .content .shelter_footer .footer_content .footer_content_contacts .footer_contact_mail, .content .shelter_footer .footer_content .footer_content_contacts .footer_contact_phone, .content .shelter_footer .footer_content .footer_content_location .footer_location_Boston, .content .shelter_footer .footer_content .footer_content_location .footer_location_London {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.content .Donation .donation_content .donation_content_container .donation_donation_dog_content .dog_content_subheading {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
}

.content .about .about_container .about_pets_content .about_pets_content_Subheading {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards .pets_slider_card .slider_pets, .content .Pets .pets_container .pets_container_pets_content .container_button_primary .button_primary {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.content .Pets .pets_container .pets_container_pets_content .container_button_primary .button_primary {
  width: 261px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  border-radius: 100px;
  background-color: #F1CDB3;
  color: #292929;
}

.content .Pets .pets_container .pets_container_pets_content .container_button_primary .button_primary:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards .pets_slider_card .button_secondary {
  height: 52px;
  width: 187px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards .pets_slider_card .button_secondary:hover {
  cursor: pointer;
  background-color: #F1CDB3;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .start_screen {
  height: 908px;
  border: 1px solid black;
  background-image: url(../images/start-screen-background.jpg);
}

.content .start_screen .header {
  height: 60px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.content .start_screen .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .start_screen .header .logo .logo_title {
  width: 200px;
  height: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 35px;
  line-height: 110%;
  letter-spacing: 2px;
  color: #F1CDB3;
}

.content .start_screen .header .logo .logo_subTitle {
  margin-left: 2%;
  height: 15px;
  font-family: Arial;
  font-size: 13px;
  line-height: 100%;
  vertical-align: center;
  letter-spacing: 1.3px;
  color: #FFFFFF;
}

.content .start_screen .header .header_navigation {
  position: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content .start_screen .header .header_navigation .header_navigation_list {
  list-style-type: none;
  margin-bottom: 2.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 443px;
  height: 27px;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FAFAFA;
}

.content .start_screen .header .header_navigation .header_navigation_list .header_navigator_list_cell:hover {
  cursor: pointer;
  border-bottom: solid 3px;
  border-bottom-color: #F1CDB3;
}

.content .start_screen .header .header_navigation .header_navigation_list .border_bottom_active {
  cursor: pointer;
  border-bottom: solid 3px;
  border-bottom-color: #F1CDB3;
}

.content .start_screen .start_screen_content {
  height: 728px;
  margin-top: 60px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .start_screen .start_screen_content .start_screen_content_content {
  margin-top: 163px;
  color: #FFFFFF;
}

.content .start_screen .start_screen_content .start_screen_content_content .start_screen_content_heading {
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}

.content .start_screen .start_screen_content .start_screen_content_content .start_screen_content_subheading {
  margin-top: 42px;
  width: 460px;
  color: #CDCDCD;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Regular;
  font-size: 15px;
  vertical-align: center;
  line-height: 24px;
}

.content .start_screen .start_screen_content .start_screen_content_content .start_screen_cntent_button_primery {
  width: 207px;
  background-color: #F1CDB3;
  border: 0;
  border-radius: 40px;
  margin-top: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #292929;
  padding: 15px 45px 15px 45px;
}

.content .start_screen .start_screen_content .start_screen_image_puppy .image_puppy {
  height: 728px;
}

.content .about {
  height: 588px;
  width: 100%;
}

.content .about .about_container {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .about .about_container .about_content_img {
  margin-top: 80px;
  margin-right: 10%;
}

.content .about .about_container .about_pets_content {
  margin-top: 94px;
  height: 380px;
  width: 430px;
}

.content .about .about_container .about_pets_content .about_pets_content_Subheading {
  margin-top: 25px;
}

.content .Pets {
  background-color: #E5E5E5;
  border: 0px;
  height: 877px;
  width: 100%;
}

.content .Pets .pets_container {
  width: 94%;
  margin-right: auto;
  margin-left: auto;
}

.content .Pets .pets_container .pets_container_pets_content {
  height: 697px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .Pets .pets_container .pets_container_pets_content .pets_content_heading {
  text-align: center;
}

.content .Pets .pets_container .pets_container_pets_content .slider {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .Pets .pets_container .pets_container_pets_content .slider .button_arrow {
  height: 52px;
  width: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards {
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards .pets_slider_card {
  height: 435px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards .pets_slider_card .slider_pets {
  margin-top: 30px;
}

.content .Pets .pets_container .pets_container_pets_content .slider .slider_cards .pets_slider_card .button_secondary {
  margin-top: 30px;
}

.content .Pets .pets_container .pets_container_pets_content .container_button_primary {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .Pets .pets_container .pets_container_pets_content .container_button_primary .button_primary {
  margin-top: 60px;
  font-size: 17px;
}

.content .Help {
  height: 611px;
  width: 100%;
  background-color: #FFFFFF;
}

.content .Help .help_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px auto 0;
}

.content .Help .help_content .help_content_heading {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.content .Help .help_content .help_content_list {
  margin: 60px auto 0px;
  height: 281px;
  width: 80%;
  border: 1px solid black;
  display: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .Help .help_content .help_content_list .list_content_wraper_icons {
  text-align: center;
}

.content .Help .help_content .help_content_list .list_content_wraper_icons .figcaption_pets {
  margin-top: 30px;
}

.content .Donation {
  height: 462px;
}

.content .Donation .donation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px auto 0;
  width: 71.49%;
  height: 282px;
}

.content .Donation .donation_content .donation_content_container {
  width: 100%;
  display: inherit;
}

.content .Donation .donation_content .donation_content_container .img_donation_dog {
  margin: 11px 0 10px;
  height: 261px;
}

.content .Donation .donation_content .donation_content_container .donation_donation_dog_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3.28%;
  width: 58%;
}

.content .Donation .donation_content .donation_content_container .donation_donation_dog_content .dog_content_subheading {
  margin-top: 20px;
}

.content .Donation .donation_content .donation_content_container .donation_donation_dog_content .donation_input {
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  border: 0;
  margin-top: 20px;
  width: 92%;
}

.content .Donation .donation_content .donation_content_container .donation_donation_dog_content .donation_dog_article {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 20px;
  color: #B2B2B2;
}

.content .shelter_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/footer-background.png);
  height: 350px;
  width: 100%;
}

.content .shelter_footer .footer_content {
  display: inherit;
  width: 93.8%;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto 0px;
}

.content .shelter_footer .footer_content .footer_content_contacts {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 234px;
  margin-top: 16px;
}

.content .shelter_footer .footer_content .footer_content_contacts .footer_contact_title {
  color: #FFFFFF;
  width: 100%;
}

.content .shelter_footer .footer_content .footer_content_contacts .footer_contact_mail {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5%;
  color: #F1CDB3;
}

.content .shelter_footer .footer_content .footer_content_contacts .footer_contact_phone {
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
}

.content .shelter_footer .footer_content .footer_content_contacts .footer_content_location {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .shelter_footer .footer_content .footer_content_contacts .footer_location_title {
  color: #FFFFFF;
}

.content .shelter_footer .footer_content .footer_content_location {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 234px;
  margin-top: 16px;
  margin-right: 2%;
}

.content .shelter_footer .footer_content .footer_content_location .footer_location_title {
  color: #FFFFFF;
}

.content .shelter_footer .footer_content .footer_content_location .footer_location_Boston {
  width: 106.5%;
  display: inherit;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
}

.content .shelter_footer .footer_content .footer_content_location .footer_location_London {
  width: 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
}
/*# sourceMappingURL=style.css.map */